.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../images/background_01.jpg");
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 95px;
  color: aliceblue;
}

.subtitle {
  font-size: 25px;
  padding-top: 10px;
  color: aliceblue;
  font-family: inherit;
}

.intro-text {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px 0;
  border: 10px solid aliceblue;
}

@media screen and (max-width: 1399px) {
  .title {
    font-size: 64px;
  }
}
